@import "./variables/colors";
@import "./variables/variables";
@import "./variables/mixins";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: $grey;
  font-family: "Titillium Web";
}
.container {
  width: 30vw;
  height: 95vh;
  margin-top: 5%;
  background-color: $white;
  border-radius: 15px 15px 0 0;
  .header {
    @include flex(wrap, space-between);
    width: 30vw;
    height: 30%;
    background-size: cover;
    background-image: url("../assets/background-2.jpg");
    border-radius: 15px 15px 0 0;
    .clear {
      @include flex(flex-end, center);
      width: 100%;
      height: 4rem;
    }
    i {
      margin-right: 1.5rem;
      font-size: 20px;
      color: $white;
      cursor: pointer;
    }
    .date {
      width: 100%;
      height: 30px;
      margin: 0 0 1rem 1rem;
      color: $white;
      font-size: 22px;
    }
  }
  .content {
    @include flex(column);
    width: 100%;
    height: 70%;
    .list {
      width: 100%;
      height: 11%;
      margin: 0;
      padding: 0;
      li {
        @include flex(space-around, row);
        width: 100%;
        min-height: 46px;
        margin: 0;
        padding: 0.8rem;
        border-bottom: 1px solid $grey;
        box-sizing: border-box;
        i {
          font-size: 20px;
          cursor: pointer;
        }
        .text {
          width: 80%;
          margin: 0;
          padding: 0;
          line-height: 100%;
        }
      }
    }
    .add-item {
      @include flex(row);
      width: 30vw;
      height: 8%;
      margin: 0;
      padding: 0.8rem;
      position: absolute;
      bottom: 13px;
      border-top: 1px solid $grey;
      box-sizing: border-box;
      i {
        color: $blue-dark-light;
        font-size: 22px;
        cursor: pointer;
      }
      input {
        width: 100%;
        font-size: 18px;
        margin-left: 1rem;
        border-color: transparent;
        outline: none;
      }
    }
  }
}
